{% load securewitness_extras %}

{% if current_user|has_group:'admins' %}

Current admins:
<ul>
	{% for member in members %}
		<li>{{ member.username }}</li>
	{% endfor %}
</ul>
<br>
Make a user an admin:
<br>
<form id="add_user_form" method="post" action="/SecureWitness/addAdmin/" enctype="multipart/form-data">
	{% csrf_token %}
	{{ add_user_form.as_p }}

	<input type="submit" name="submit" value="Add Admin" />
</form>
{% else %}
<p>You don't have access to this function. Must have admin privileges.</p>

{% endif %}

<br>
<a href="/SecureWitness/">Home</a>