<h2>Edit Content:</h2>

<form id="edit_form" method="post" action="/SecureWitness/editReport/" enctype="multipart/form-data">
		{% csrf_token%}
		{{ edit_form.as_p }}
		<input type ="hidden" value={{report_id}} name="rid">
		<input type="submit" name="submit" value="Edit Report" />
</form>

<form action='/SecureWitness/delete/{{report.id}}'>
    <input type="submit" value="Delete Report" onclick="return confirm('Are you sure to delete this report?')">
</form>
<a href="/SecureWitness/createKeyword">Create new keyword</a>

<h2>Comments:</h2>
{% for comment in comments %}
<li>{{comment}} -by {{comment.author}} at {{comment.pub_date}} <a href = '/SecureWitness/commentDelete/{{comment.id}}'>Delete</a></li>
<br>
{% endfor %}

<form id="comment_form" method="post" action="/SecureWitness/commentSuccess/" enctype="multipart/form-data">
		{% csrf_token%}
		{{ comment_form.as_p }}

		<input type="submit" name="submit" value="Add Comment" />
</form>

<h2>Shared With:</h2>
{% if shared_groups %}
{% for group in shared_groups %}
<li>{{ group.name }} </li>
<br>
{% endfor %}
{% else %}
Report has not been shared yet!
{% endif %}
<br>

<a href="/SecureWitness/">Home</a>