<h2>Edit Content:</h2>

<form id="edit_form" method="post" action="/SecureWitness/editReport/" enctype="multipart/form-data">
		{% csrf_token%}
		<table id="form_editor">
			<tr>
				<td>Report Title:  </td>
				<td>{{edit_form.short}}</td>
			</tr>
			<tr>
				<td>Author: </td>
				<td>{{author}}</td>
			</tr>
			<tr>
				<td>Incident Date: </td>
				<td>{{edit_form.inc_date}}</td>
			</tr>
			<tr>
				<td>Description: </td>
				<td>{{edit_form.detailed}}</td>
			</tr>
			<tr>
				<td>Location: </td>
				<td>{{edit_form.location}}</td>
			</tr>
			<tr>
				<td>Files: </td>
				<td>{{edit_form.doc}}</td>
				<td>Add File</td>
			</tr>
			<tr>
				<td>Groups: </td>
				<td>{{edit_form.groups}}</td>
				<td>Add Group</td>
			</tr>
			<tr>
				<td>Keywords: </td>
				<td>{{edit_form.keyword}}</td>
			</tr>
			<tr>
				<td>Privacy: </td>
				<td>{{edit_form.privacy}}</td>
			</tr>
		</table>

		<input type ="hidden" value={{report_id}} name="rid">
		<input type="submit" name="submit" value="Save" />
</form>

<form action='/SecureWitness/keyword/' method="post" enctype="multipart/form-data">
	{% csrf_token%}
	<input type="text"   name="newkey">
	<input type ="hidden" value={{report_id}} name="rid">
    <input type="submit" value="Add Keyword" >
</form>

<form action='/SecureWitness/adddoc/' method="post" enctype="multipart/form-data">
	{% csrf_token%}
	Add new file: <br>
	Uploaded File Name: <input type="text"   name="name"  > <br>
	<input type="file"   name="newdoc">
	<input type ="hidden" value={{report_id}} name="rid">
    <input type="submit" value="Add File" >
</form>

<form id="delete_report_form" action='/SecureWitness/deleteReport/' method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ delete_report_form.as_p }}
    <input type="submit" value="Delete Report" onclick="return confirm('Are you sure to delete this report?')">
</form>

<a href="/SecureWitness/createKeyword">Create new keyword</a>

<h2>Comments:</h2>
{% for comment in comments %}
<li>{{comment}} -by {{comment.author}} at {{comment.pub_date}} <a href = '/SecureWitness/commentDelete/{{comment.id}}'>Delete</a></li>
<br>
{% endfor %}

<form id="comment_form" method="post" action="/SecureWitness/commentSuccess/" enctype="multipart/form-data">
		{% csrf_token%}
		{{ comment_form.as_p }}

		<input type="submit" name="submit" value="Add Comment" />
</form>

<h2>Shared With:</h2>
{% if shared_groups %}
{% for group in shared_groups %}
<li>{{ group.name }} </li>
<br>
{% endfor %}
{% else %}
Report has not been shared yet!
{% endif %}
<br>

<a href="/SecureWitness/">Home</a>