<!DOCTYPE html>
<html>
    <head>
        <title>SecureWitness</title>
    </head>

    <body>

        <strong>Enter command</strong><br />

        <form id="cmd_form" method="post" action="/SecureWitness/execute/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ cmd_form.as_p }}

            <input type="text" name="filter" label="Username"/>
            <br/>
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Login" />
        </form>
    </body>
</html>