{% if folder.owner == current_user %}
<h2>Folder: {{folder.name}}</h2>

{% if report_list %}
    <form id="folder_report" method="post" action='/SecureWitness/viewReport/'>
    {% csrf_token%}
    <select name = 'report'>
    {% for report in report_list %}
        <option value = {{report.id}}>{{report.short}}</option>
    {% endfor %}
    </select>
    <input type="submit" name="submit" value="view selected report">
    </form>
{% else %}
    <p>No reports are available.</p>
{% endif %}

<form id="folder_form" method="post" enctype="multipart/form-data" >
		{% csrf_token%}
		{{ folder_form.as_p }}

		<input type="submit" name="submit" value="Edit Folder" />
</form>

<form action='/SecureWitness/folderDelete/{{folder_id}}'>
    <input type="submit" value="Delete Folder" onclick="return confirm('Are you sure to delete this folder?')">
</form>
{% else %}
You don't have access to the folder!
{% endif %}
<br>
<a href="/SecureWitness/">Home</a>