{% load securewitness_extras %}

<h2>Welcome {{current_user.username}}!</h2>
<br>
My Reports:
{% if report_list %}
    <form id="edit_report_form" method="post" action="/SecureWitness/editReport/" enctype="multipart/form-data">
    {% csrf_token %}
    {{ edit_report_form.as_p }}

    <input type="submit" name="submit" value="Edit Report" />
</form>
{% else %}
    <p>No reports are available.</p>
{% endif %}
<br>
My Folders:
<br>
{% if folder_list %}
    <ul>
    {% for folder in folder_list %}
        <li><a href="/SecureWitness/folder/{{ folder.id }}/">{{ folder.name }}</a></li>
    {% endfor %}

    </ul>
{% else %}
    <p>No folders are available.</p>
{% endif %}


<!-- {% for folder in folder_list %}
    	<li>{{folder.name}}</li>
{% endfor %} -->

<a href="create">Create Report</a>
<br>
<a href="createFolder">Create Folder</a>
<br>
<a href="groupList">My groups</a>
<br>
<br>
{% if current_user|has_group:"admins" %}
Admin functions:
<br>
<a href="viewAllReports">View all reports</a>
<br>
<a href="groupCreate">Create a Group</a>
<br>
<a href="addAdmin">Make another user an admin</a>
<br>
<a href="suspendUser">Suspend a user</a>
<br>
<a href="reactivateUser">Reactivate a user</a>
<br>
<br>
{% endif %}
<a href="logout">Logout</a>
