{% load securewitness_extras %}

<h2>Welcome {{current_user.username}}!</h2>
<br>

<form id="search_form" method="post" action="/SecureWitness/search/">
    {% csrf_token %}
    {{ search_form.as_p }}
    <input type="submit" value="Search"/>
</form>


<form method="get" action="/SecureWitness/search/">
    {% csrf_token %}
{#<label for="id_q">Search:</label>#}
           <input placeholder="OR" type="text" name="q" />
           <input type="submit" value="Search"/>
        </form>

<form method="get" action="/SecureWitness/search2/">
    {% csrf_token %}
           <input placeholder="AND" type="text" name="q" />
           <input type="submit" value="Search"/>
</form>


My Reports:
{% if report_list %}
    <form id="edit_report_form" method="post" action="/SecureWitness/editReport/" enctype="multipart/form-data">
    {% csrf_token %}
    {{ edit_report_form.as_p }}

    <input type="submit" name="submit" value="Edit Report" />
</form>
{% else %}
    <p><t/>No reports are available.</p>
{% endif %}


<br>


My Folders:
<br>
{% if folder_list %}
    <ul>
    {% for folder in folder_list %}
        <li><a href="/SecureWitness/folder/{{ folder.id }}/">   {{ folder.name }}</a></li>
    {% endfor %}

    </ul>
{% else %}
    <p>   No folders are available.</p>
{% endif %}
<br>
Public reports:
<form id="public_reports_form" method="post" action="/SecureWitness/viewReport/" enctype="multipart/form-data">
    {% csrf_token %}
    {{ public_reports_form.as_p }}

    <input type="submit" name="submit" value="View selected Report" />
</form>
<br>
Reports shared with me (public and private):
<form id="shared_reports_form" method="post" action="/SecureWitness/viewReport/" enctype="multipart/form-data">
    {% csrf_token %}
    {{ shared_reports_form.as_p }}

    <input type="submit" name="submit" value="View selected Report" />
</form>


<!-- {% for folder in folder_list %}
    	<li>{{folder.name}}</li>
{% endfor %} -->

<a href="create">Create Report</a>
<br>
<a href="createFolder">Create Folder</a>
<br>
<a href="groupList">My groups</a>
<br>
<a href="list">Add a file</a>
<br>
<br>
{% if current_user|has_group:"admins" %}
Admin functions:
<br>
<a href="viewAllReports">View all reports</a>
<br>
<a href="groupCreate">Create a Group</a>
<br>
<a href="addAdmin">Make another user an admin</a>
<br>
<a href="suspendUser">Suspend a user</a>
<br>
<a href="reactivateUser">Reactivate a user</a>
<br>
<br>
{% endif %}
<a href="logout">Logout</a>
